<div class='boxed'>
  <h2 class='heading'>Quick Links </h1>
  <ul>
    <li>
      <%= link_to 'Add Announcement', :controller=>'posts', :action=>'new' %>
    </li>
    <li>
      <%= link_to 'Add Services', :controller=>'services', :action=>'new' %>
    </li>
    <li>
      <%= link_to 'Add Stylists', :controller=>'stylists', :action=>'new' %>
    </li>
    <li>
    </li>
  </ul>
</div>

