<div class='post'>
  <h1 class='title'> Bulletin Board </h1>
  <p class='byline'> </p>
  <div class='entry'>
    <p>
      The bulletin board allows you to manage your home page posts. The home page can only display 2 items at a time.
    </p>
    <div id='bulletin_board'>
      <%= render :active_scaffold=>'posts', :label=>'Home Page' %>
    </div>

  </div>

</div>


