  <div id='right'>
     <%= render :partial=>'admin_menu' %>

  </div>
  <div id='center'>
    <div class='boxed'>
      <h1 class='heading'> Admin Panel </h1>
      <p>
        Welcome to the admin panel for Look Salon. From here you can manage specific aspects of the main site.
      </p>
      <h3 class='heading'>Description </h3>
      <p>
        Tags are used to describe the various services (eg hair, nails, waxing)
       
      </p>
    </div>
  </div>


