<div class='post'>
  <h1 class='title'> Panel </h1>
  <p class='byline'> </p>
  <div class='entry'>
    <p>
      The Admin Panel will allow you to add, delete and update your website.
    </p>

  </div>

</div>


