
  <div id='center'>
    <div class='boxed'>
      <h1 class='heading'> Posts </h1>
      <div class='actions'>
        <ul>
          <li>
            <%= link_to 'Add Promotion', :controller=>'posts', :action=>'promo' %>
          </li>
          <li>
            <%= link_to 'Add Announcement', :controller=>'posts', :action=>'announcement' %>
          </li>
        </ul>
      </div>
      <p>
        Welcome to the admin panel for Look Salon. From here you can manage specific aspects of the main site.
      </p>
      <h3 class='heading'>Description </h3>
      <p>
        Tags are used to describe the various services (eg hair, nails, waxing)
       
      </p>
    </div>
  </div>


