#wrapper{
//	height:1000px;
        margin:auto;
	width:900px;
	padding:5px;
	background-color:black;
}
#main_img{
	float:left;
	width:290px;
	height:426px;
	overflow:hidden;

	margin-bottom:20px;
	padding-right:7px;
	border: 2px solid #1b1e1f;

//	border-color:#1b1e1f #1b1e1f #1b1e1f #1b1e1f;
//	border-style:solid solid solid solid ;
//	border-width:2px;
//	border-width:3px 5px 3px 3px;
}
#ajax_indicator{
	clear:both;
	height:426px;
	width:290px;

	display:table-cell;
	vertical-align:middle;

	margin-left:auto;
	margin-right:auto;
	
}
#image_wrapper{
	margin-left:auto;
	margin-right:auto;
}
}
img.ajax{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
/* NAVIGATION */
#nav_wrapper{
	float:left;
	width:100px;
	clear:right;
	margin-left:-16px;
	padding-right:10px;
	margin-top:-2px;
}
ul#menu{
	padding:0em;
	margin:0em;
	list-style-type:none;
	margin-bottom:5px;
}
ul#menu li{
	margin:0px;
	padding:0px;
	width:100px;
	height:53px;
	text-align:right;	
	margin-left:12px;
	margin-top:1px;
}
ul#menu li a{
	color:transparent;
}
ul#menu li a:hover{
	color:transparent;
}

/* CONTENT WRAPPER */
#content_wrapper{
	float:right;
//OLD	background-color:#1a1e1f;
	background-color:#0d0e10;
	border:2px #121315 solid;
	border: 2px solid #1b1e1f;
	width:489px;
	margin-right:7px;

}
#content{
	float:right;
	margin:5px;
	margin-top:10px;
	height:391px;
	overflow:auto;
	padding:10px;
	

	
}

/* BOTTOM HEADER */
#bottom_header{
	clear:both;
	margin:10px;
	display:none;
}
#top_wrapper{
	min-height:100px;
	margin-bottom:1px;
}

#top_left{
//	background-image:url('/images/top_bgrd.jpg');
//	background-repeat:no-repeat;
	background-color:#0d0e10;
	width:399px;
	height:100px;
	padding-top:5px;	
	float:left;
	border:2px solid #1B1E1F;

}
#top_right{
//	background-image:url('/images/top_bgrd.jpg');
	background-color:#0d0e10;
	width:488px;
	height:100px;
	padding-top:5px;	
	margin-left:401px;
	border:2px solid #1B1E1F;
}
#top_right h2{

	vertical-align:center;
	font-weight:normal;
	
	line-height:54px;
	font-size:40px;
	padding:5px;
	padding-top:25px;
	padding-left:25px;
	text-align:left;
	font-variant:small-caps;

}
#top_left h2{
	font-variant:small-caps;
	text-transform:uppercase;
	vertical-align:baseline;
	font-size:40px;

	text-align:left;

}
.brand{
	margin-left:83px;
	padding:2px;

}
.brand h2{
	color:#AAA;
	line-height:32px;
	font-weight:lighter;

}
#top_right .header{
	letter-spacing:4px;
	color:#1B1E1F;
		
}
h2.second{
	color:#427785;
	margin-left:5px;
}
h2.third{
/*	color:#427785;	*/
	margin-left:3px;
	
}
#top_logo{
	float:left;
	margin-left:2px;
	margin-right:2px;

}
#top_logo a{
	text-decoration:none;
}
#top_header{
	
}
#middle_wrapper{
	clear:both;

}

/* SECOND NAV */
ul.second_nav {
	text-align:right;
	margin-left:100px;
	margin-bottom:10px;	
}
ul#long_menu{
	text-align:right;
	margin-bottom:10px;	
	margin-left:0px;
}
ul.second_nav li{
	display:inline;
	margin-left:10px;
}
ul.second_nav li#current a{ 
	color:#872019;
}
ul.second_nav li a{
//#AAAAAA
//	border: 2px solid #1b1e1f;

	color:#1B1E1F;
	font-variant:small-caps;
	text-decoration:none;
}
ul.second_nav li a:hover{
	text-decoration:underline;
	color:#AAAAAA;
}
