* {
	margin: 0;
	padding: 0;
}

body {
	background-color:black;
	/*OLD font-family: Georgia, Palantino, Times New Roman, serif;*/
	font-size: 13px;
	color:#AAAAAA;
}

h1{
	color:#333;
}
h2{
	color:#555;
}
h3{
	color:#666;
}
p, blockquote, ul, ol {
	margin-bottom: 1.8em;
	line-height: 180%;
}

a {
	color: #FFF;
}

a:hover {
	text-decoration: none;
}
.boxed {
	margin-bottom:20px;
}
.heading {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 16px;
	font-weight:lighter;
	border-bottom:1px solid #1B1E1F;
	color:#427785;
	margin-bottom:4px;
	padding-bottom:2px;
}
.white{
	color:#b4bec1;
}
.teal{
	color:#427785;
}
.teal_grey{
	color:#2a373d;
}

.heading a{
	text-decoration:none;
	color:#427785;
}

