* {
	margin: 0;
	padding: 0;
}

body {
	background-color:black;
	font-family: Georgia, Palantino, Times New Roman, serif;
	font-size: 13px;
	color: #666666;
}

h1{
	color:#333;
}
h2{
	color:#555;
}
h3{
	color:#666;
}
p, blockquote, ul, ol {
	margin-bottom: 1.8em;
	line-height: 180%;
}

a {
	color: #FFF;
}

a:hover {
	text-decoration: none;
}

.boxed {
}

.heading {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 14px;
	border-bottom:1px solid #FFF;
	color:#427785;
}
.second_word{
	color:#b4bec1;
}

.heading a{
	text-decoration:none;
	color:#427785;
}
