<% pages= [ "bulletin_board", "promos", "gallery", "services", "service_types", "stylists"] %>
<ul id='main'>
  <% pages.each do |p| %>
    <% if current_page?(:controller=>'admin', :action=>p) %>
      <li id='current_page_item'> 
        <%= link_to p.tr_s("_", " ") %>
      </li>
    <% else %>
      <li>
        <%= link_to p.tr_s("_", " "), :controller=>'admin', :action=>p %>
      </li>
    <% end %>
  <% end %>
</ul>
