<% pages= ["home", "gallery", "services", "service_types", "posts", "stylists"] %>
<ul id='main'>
  <% pages.each do |p| %>
    <% if p==controller.action_name %>
      <li id='current_page_item'> 
        <%= p %>
      </li>
    <% else %>
      <li>
        <%= link_to p, :controller=>'admin', :action=>p %>
      </li>
    <% end %>
  <% end %>
</ul>
