<ul>
<li><h2> Live Site </h2></li>
<li>
  <ul class='public_quick_links'>
   <li> <b>PUBLIC PAGES</b></li>
    <li>
      <%= link_to 'Home Page', :controller=>'info', :action=>'index' %>
    </li>
    <li>
      <%= link_to 'Services Page', :controller=>'info', :action=>'services' %>
    </li>
    <li>
      <%= link_to 'Products Page', :controller=>'info', :action=>'products' %>
    <li> 
      <%= link_to 'Gallery', :controller=>'info', :action=>'gallery' %>
    </li>
  </ul>
<li>
</ul>

