  <div id='right'>

  </div>
  <div id='center'>
    <div class='boxed'>
      <h1 class='heading'> logged out </h1>
      <p>
        You've been logged out. Login to the admin panel 
        <%= link_to 'here', :controller=>'admin', :action=>'panel' %>
      </p>
    </div>
  </div>
