.post
  %h1.title
    Edit:
    = @image.filename
  .entry
    .entry_wrapper
      = render :partial=>'display', :locals=>{:image=>@image}
    .edit_form
      - form_for(@image) do |f|
        %pç
          = f.error_messages
        %table.fields
          = render :partial=>'fields', :locals=>{:f=>f, :view=>'edit'}
