#center
  .boxed
    %h1.heading
      Add Image
    %p
      Upload new image from your computer
      - form_for(:image, :url=> images_path, :html=> {:multipart => true}) do |f|
        %p
          = f.error_messages
        %table.fields
          %tr
            %td
              Filename
            %td
              = f.file_field :uploaded_data
          = render :partial=>'fields', :locals=>{:f=>f, :view=>'new'}
