<div class='boxed'>
  <h2 class='heading'>  </h1>
  <ul>
    <li>
      <%= link_to('Our Philosophy', :action=>'philosphy') %>
    </li>
    <li>
      <%= link_to('Our People', :controller=>'people', :action=>'') %>
    </li>

  </ul>
</div>

