<div class='boxed'>
  <table id='gallery_preview'>
   <tr>
    <td>
      <%= link_to image_tag(main.public_filename(:thumb), :height=>'211', :class=>'gallery'), :action=>'gallery' %>
    </td>
    <td>
    <table id='small_preview'>
    <% count=0 %>
    <% for image in images %>
      <%if count==0 || count ==2 %>
        <tr>
          <td> 
            <%= link_to image_tag(image.public_filename(:thumb), :height=>'100',  :class=>'gallery'), :action=>'gallery' %>
          </td> 
      <% else %>
          <td>
            <%= link_to image_tag(image.public_filename(:thumb), :height=>'100',  :class=>'gallery'), :action=>'gallery' %>
          </td>
        </tr>
      <% end %>
    <% count=count+1 %>
    <% end %>
    </table>
    </td>
   </tr>   
  </table>
</div>

