<h2 class='heading'> About <span class='white'>Us </span></h2>

<div id='submenu_wrapper'>
  <%= render :partial=>'about_us' %>

</div>

      <div class='image-wrapper'>
      </div>
      <p>
        We started the Look Salon in 2004 to offer our guests an experience rarely found in corporate chain stores.  Most salons simply offer hair maintenance.  Our team at the Look Salon will help you design your look. 
      </p>
        My 28 years of experience has shown me that in order to achieve my goals for our guests, more advanced training was needed in our industry.  So I developed a training program to attract emerging hair talent by offering them the opportunity to advance their skills under the tutelage of internationally recognized style leaders.
      <p>
        We all have our own unique style or “look”.  I believe that most people are not fully aware of their image possibilities.  Fashion is always changing.  Our team of designers is trained to help you recognize what current trends may or may not work for you.
      </p>
      <p>
        The way you look affects how people perceive you.  Does your presentation represent you?  From the latest styles to traditional classic looks, our team is trained to help all our guests find the best look for them.
      </p>


