  <div id='right'>
  </div>
  <div id='center'>
    <div class='boxed'>
      <h1 class='heading'> Contact </h1>
      <p>
	Spots fill up quickly so make an appointment today. Give us a call at: 952.746.7777 
      </p>
      <div id='map'>
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=12613+Nicollet+Ave+Burnsville,+MN+55337+&sll=37.0625,-95.677068&sspn=32.114675,79.101563&ie=UTF8&ll=44.783114,-93.273411&spn=0.007022,0.019312&z=14&iwloc=addr&iwstate1=dir&output=embed&s=AARTsJpbxwwrX68ReSC85e502n2SPWmq0A"> </iframe>
      </div>
      <p>
        Address: 12613 Nicollet Ave Burnsville, MN 55337 <br />
      </p>
    </div>
  </div>


