<h2 class='heading'> Enjoy the Look </h2>
  <p>
    These photos represent an idea of the range of talent and creativity found at the Look Salon.
  </p>

  <div class='boxed'>
    <% for image in @images %>
      <%= link_to_remote image_tag(image.public_filename(:thumb), :height=>'100', :class=>'gallery'), 	
		:url=> { :action=>'show_image_ajax', :id=>image },
		:onclick =>"new Effect.Fade('image_wrapper');",
		:complete=> "new Effect.Blinddown('image_wrapper', {duration:1.0})" %>
<!---		:update=> {:success=>'image_wrapper', :failure=>'err	ors' },
		:loading=> "$('image_wrapper').hide(); $('ajax_indicator').show();", 
		:complete=> "$('ajax_indicator').hide(); visual_effect(:toggle_appear)" %>
--->
    <% end %>
  </div>

  <div class='gallery_footer'>
    Original Designs: <%=link_to 'The Look Salon', :controller=>'info', :action=>'index' %>
    <br />
    Photography: <a href="http://www.theimagery.net/" target="_blank">The Imagery</a>
  </div>
