
<div id='submenu_wrapper'>
   <div class='welcome_message'>
     <%= image_tag 'friends' %>
   </div>
    <p class='intro'>
      Friends -
      <%= @main_post.body %>
    </p>
</div>

<div class='image_wrapper'>

</div>

<div class='text_box'>

</div>

<div class='module_2'>
  <%= render :partial=>'posts_preview' %>
</div>

<div class='module_3'>
  <%= render :partial=>'gallery_preview' %>
</div>
