<h2 class='heading'> Home</h2>
<p>
  <h3 class='home'> Friends:</h3>
</p>
<p>
  Enjoy your journey at the Look Salon. 
</p>


<p>
  <%= image_tag 'home_1.jpg' %>
  Your image is unique and individual. 
</p>
<p>

We understand that. 
At the Look Salon our team is excited to help you discover all the image possibilities that create your look.
</p>

  <%= render :partial=>'gallery_preview' %>
  <%= render :partial=>'posts_preview' %>
