<div id='submenu_wrapper'>
  <%= render :partial=>'about_us' %>

</div>

      <div class='image-wrapper'>
      </div>
     <h3 class='subheading'>Our Staff</h2>
      <p>
	Our wide range of unique talents help you find the designer right for your personal look.
      </p>
     <div class='boxed'>
      <a href=''><image class='gallery' height='100' src='/uploads/main1_thumb.jpg' > </a>
      <a href=''><image class='gallery' height='100' src='/uploads/main2_thumb.jpg' > </a>
      <a href=''><image class='gallery' height='100' src='/uploads/main3_thumb.jpg' > </a>
      <a href=''><image class='gallery' height='100' src='/uploads/main4_thumb.jpg' > </a>
     </div>
     <div class='boxed'>
       <h2 class='heading'> Understanding our Talent </h2>
     </div>
