<h2 class='heading'> <span class='white'> Meet </span> Our <span class='white'>Staff </span></h2>

<div id='submenu_wrapper'>
  <%= render :partial=>'about_us' %>

</div>

  <p>
    Our wide range of unique talents help you find the designer right for your personal look.
  </p>
<div class='boxed'>
  <h3 class='subheading'>
      Staff Bios
  </h3>
  <ul class='stylist_roster'>
    <% for s in @stylist_roster %>
      <% if s.professional_title != nil %>
        <li class='full_profile'>
          <%= render :partial=>'full_profile', :locals=>{:s=>s}%>
       </li>
      <% else %>
        <li class='full_profile'>
          <%= render :partial=>'abbrev_profile', :locals=>{:s=>s} %>
       </li>
     <% end %>
    <% end %>
  </ul>
</div>

