  <h2 class='heading'> Our <span class='white'>Philosophy </span></h2>

<div id='submenu_wrapper'>
  <%= render :partial=>'about_us' %>

</div>

      <div class='image-wrapper'>
      </div>
      <p>
	We started the Look Salon in 2004 to offer our guests an experience rarely found in corporate chain stores.  Most salons simply offer hair maintenance.  My team at the Look Salon will help you design your look.
      </p>
      <p>
	My 28 years of experience has shown me that in order to achieve my goals for our guests, more advanced training was needed in our industry.  So I developed a training program to attract emerging hair talent by offering them the opportunity to advance their skills under the tutelage of internationally recognized style leaders.
      </p>


