  <h2 class='heading'> Our <span class='white'>Philosophy </span></h2>

<div id='submenu_wrapper'>
  <%= render :partial=>'about_us' %>

</div>

<p>
  All designers at the Look Salon follow the same Talent Development Path.  Our Development Philosophy helps emerging talent grow to their greatest professional ability under the tutelage of our Industry leading Master Designers.
</p>
<div id='development_flow'>
</div>
<div id='development_path'>
  <h3 id='associate'>Associate</h3>
  <ul class='professional_guide'>
    <li> 
      Support Staff Members 
    </li>
    <li>
      Assists Designers with Client's needs
    </li>
    <li>
      Assists Clients with Home Hair Care Maintenance
    </li>
  </ul>
  <h3 id='designer'>Designer</h3>
  <ul class='professional_guide'>
    <li>
      Achieved all requirements of the Minnesota Board of Cosmetologist & Barber Licensing and Training Standards
    </li>
    <li>
      New Talent, developing their understanding of Designing Principles under the supervision of Master Designers at the Look Salon
    </li>
    <li>
      Building a Solid foundation in Cutting, Coloring, Highlighting, Perming, Relaxing, Make-Up and Nail Concepts.
    </li>
    <li>
      Beginning the professional journey to Master Designer with advanced education at the Look Salon
    </li>
    <li>
      Limited Floor Availability based solely on Achievement
    </li>
  </ul>
  <h3 id='advanced'>Advanced Designer</h3>
  <ul class='professional_guide'>
    <li>
      Consistently demonstrates mastery of Designer Skills
    </li>
    <li>
      Has earned Full Floor Status under the direction of Master Designers
    </li>
    <li>
      Utilizing the principles learned as a Designer
    </li>
  </ul>

  <h3 id='senior'>Senior Designer</h3>
  <ul class='professional_guide'>
    <li>
      Consistently demonstrates mastery of Advanced Designer Skills
    </li>
    <li>
      Skill level in the top 20% of their profession
    </li>
    <li>
      Training to become a Trainer with the Responsibilities of a Master Designer
    </li>
  </ul>

  <h3 id='senior'>Master Designer</h3>
  <ul class='professional_guide'>
    <li>
      Consistently demonstrates mastery of Senior Designer Skills
    </li>	    
    <li>
      Has received industry recognition through artistic vision
    </li>	    
    <li>
      Trains Designers in the Look Salon Talent Development System
    </li>	    
    <li>
      Work is distinctive and sought-after
    </li>	    
</div>
