.boxed
  = render :partial=>'active_promos', :locals=>{:promos=>@promos}
#promotions
  %h3.subheading
    Special Promos
  %p
    In addition to these, we offer promotional opportunities to our clients on a regular basis. Other salons often try to imitate the Look, so we prefer to offer promotions on an “invitation-only” basis to our guests.
    %br
    %br
    To make sure you do not miss a promotion that would benefit your look, please enter your name and email address and we will send you a note when a new promotion becomes available (We respect your privacy.  Please know your information will not be shared).
