  <div id='right'>
    <%= render :partial=>'service', :locals=>{:tags => @tags} %>
  </div>
  <div id='center'>
    <div class='boxed'>
      <h1 class='heading'> Services </h1>
      <%= render :partial=>'image' %>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac felis sed ligula consectetur dapibus. Mauris velit nulla, fringilla lobortis, scelerisque a, convallis eget, metus. Vivamus elit dui, commodo feugiat, elementum non, auctor vitae, ante. Sed auctor. Duis vel nibh. Aliquam erat volutpat. Aliquam erat volutpat. Cras tempor rhoncus ligula. Curabitur commodo scelerisque augue. Vivamus posuere. Morbi non nisl et purus blandit ultricies.
      </p>
    </div>
  </div>


