<h3 class='heading'> Our <span class='white'>Services</span> </h3>

<!--RENDERS SERVICE TAGS -->
<%= render :partial=>'service_list', :locals=>{:tags => @tags} %>


<table class='service-wrapper'>
  <tr>
    <th>
      Service
    </th>
    <th>
      Price Range
    </th>
  </tr>
  <% for service in @display_tag.services %>
    <tr>
      <td>
        <%=h service.title %>
      </td>
      <td>
        <%=h service.price_range %>
      </td>
    </tr>
  <% end %>
</table>

<div class='service_footer'>
  <p>
    *Prices do not include gratuity.
  </p>
</div>

